<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Rating Points</h3>
</div>
<div class="modal-body" id="modal-body" ng-init="initializeController()">
    <div class="container-fluid ui-front row">
        <div class="col-xs-4">
            <div class="form-grid">
                <div class="grid-heading-row">
                    <div class="grid-row">
                        <div class="data-row row">
                            <div class="col grid-static-col ellipsis">Profile Questionnaire</div>
                        </div>
                    </div>
                </div>
                <div class="grid-body">
                    <div class="list-group">
                        <a class="list-group-item ellipsis" ng-repeat="profileQuestionnaire in ProfileQuestionnaires" id="ProfileQuestionnaire_{{profileQuestionnaire.ID}}" ng-click="selectProfileQuestionnaire(profileQuestionnaire.ID)">
                            {{profileQuestionnaire.Code}} - {{profileQuestionnaire.Description}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="form-grid">
                <div class="grid-heading-row">
                    <div class="grid-row">
                        <div class="data-row row sortable-handle">
                            <div class="row-index col col-xs-1">&nbsp;</div>
                            <div class="col grid-static-col ellipsis col-xs-2">Type</div>
                            <div class="col grid-static-col ellipsis col-xs-5">
                                Description
                            </div>
                            <div class="col grid-static-col ellipsis col-xs-2">
                                No of Contacts
                            </div>
                            <div class="col grid-static-col ellipsis col-xs-2">
                                Points
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-body">
                    <div class="rows" ng-show="ProfileQuestionnaireLines.length != 0">
                        <form ng-submit="update(ProfileQuestionnaireLinesMaintenanceForm)" id="ProfileQuestionnaireLinesMaintenanceForm" name="ProfileQuestionnaireLinesMaintenanceForm" role="form" ng-validate="validationOptions">
                            <div class="grid-row" ng-repeat="profileQuestionnaireLine in ProfileQuestionnaireLines track by $index" data-idx="{{$index + 1}}" ng-class="{'bold': profileQuestionnaireLine.Type == Constants.ProfileQuestionaireLineTypes[0].Code}" ng-init="profileQuestionnaireLine.LineNo = $index + 1 + ''">
                                <div class="data-row row sortable-handle editable-row">
                                    <div class="row-index col col-xs-1">
                                        {{$index + 1}}
                                    </div>
                                    <div class="col grid-static-col col-xs-2">
                                        <div class="form-group">
                                            <select class="form-control" name="Type[]" id="Type_{{$index + 1}}" ng-model="profileQuestionnaireLine.Type" ng-options="s.Code as s.Name for s in Constants.ProfileQuestionaireLineTypes" disabled/>
                                        </div>
                                    </div>
                                    <div class="col grid-static-col col-xs-5">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="Description[]" id="Description_{{$index + 1}}" ng-model="profileQuestionnaireLine.Description" disabled/>
                                        </div>
                                    </div>
                                    <div class="col grid-static-col col-xs-2">
                                        <div class="form-group">
                                            <input type="number" class="form-control" name="NoContacts[]" id="NoContacts_{{$index + 1}}" ng-model="profileQuestionnaireLine.NoContacts" disabled/>
                                        </div>
                                    </div>
                                    <div class="col grid-static-col col-xs-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="Points[]" id="Points_{{$index + 1}}" ng-model="profileQuestionnaireLine.Points" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="grid-empty text-center" ng-show="ProfileQuestionnaireLines.length == 0">No Data</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok(ProfileQuestionnaireLinesMaintenanceForm)">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>