<div class="container-fluid body-content" ng-init="initializeController()">
    <div class="page-header">
        <div class="row">
            <div class="col-sm-8">
                <h2 class="pull-left">
                    Preference
                </h2>
            </div>
        </div>
    </div>
    <h4>Set user preference</h4>
    <br/>
    <form ng-submit="updatePreference(PreferenceForm)" id="PreferenceForm" name="PreferenceForm" class="form-horizontal" role="form"
        ng-validate="validationOptions">
        <div class="form-group has-feedback">
            <label class="col-xs-2 control-label" for="Organization">Organization</label>
            <div class="col-xs-2">
                <select class="form-control valid" id="Organization" name="Organization" ng-model="OrganizationID" ng-options="Organization.ID as Organization.Name for Organization in Organizations">
                    <option value="">--Select Organization--</option>
                </select>
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="col-xs-2 control-label" for="CultureUI">Language</label>
            <div class="col-xs-2">
                <select class="form-control valid" id="CultureUI" name="CultureUI" ng-model="CultureUIID" ng-options="CultureUI.ID as CultureUI.Name for CultureUI in CultureUIs">
                    <option value="">--Select Languages--</option>
                </select>
            </div>
        </div>
        <div class="form-group has-feedback">
            <label class="col-xs-2 control-label" for="WorkingDate">Working Date</label>
            <div class="col-xs-2">
                <!-- <input class="form-control" name="WorkingDate" ng-model="WorkingDate" id="WorkingDate" kendo-date-picker k-options="datePickerConfig"> -->
                
                <input type="text" class="form-control" name="WorkingDate" id="WorkingDate" uib-datepicker-popup="dd/MM/yyyy" ng-model="WorkingDate"/>
                
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Set Preference" ng-disabled="PreferenceForm.$invalid" class="btn btn-default" />
            </div>
        </div>

    </form>
</div>