html, body {
  font-family: "Roboto", sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

md-toolbar h1 {
  margin: auto;
  font-size: 1.250em;
  font-weight: 400;
}

.nav-header {
  background-color: #106CC8;
  background: linear-gradient(#185694, #106cc8);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #185694), color-stop(1, #106cc8));
  background: -webkit-linear-gradient(top, #185694 0%, #106cc8 100%);
  background: -moz-linear-gradient(top, #185694 0%, #106cc8 100%);
  background: linear-gradient(top, #185694 0%, #106cc8 100%);
  border-bottom: 1px solid #267ED5;
  flex-shrink: 0;
  z-index: 2;
}

.md-toolbar-tools-bottom {
  font-size: large;
  & :last-child {
	opacity: 0.5;
  }
}

.user-avatar {
  border-radius: 50%;
}

.no-error .md-errors-spacer {
  display: none !important;
}

/* content */
#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

md-content#content{
  background:#eee;
}

/* Sidenav area */
.site-sidenav {
	background: #eee none repeat scroll 0% 0%;
}

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

md-list .md-button.selected {
  color: #03a9f4;
}

md-sidenav  md-list {
  padding: 0px 0px 8px 0px;
}

md-sidenav .avatar {
  position: relative;
  width: 120px;
  height: 120px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.md-sticky-header{
  overflow: hidden;
}

.md-sticky-header>md-content{
	height:90%;
}

/* breadcrumb */
.breadcrumb {
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: outside none none;
	background-color: transparent;
	border-radius: 4px;
}

.breadcrumb > .active {
	color: #999;
}

.breadcrumb > li {
	display: inline-block;
}

.breadcrumb > li + li::before {
	content: "/ ";
	padding: 0px 5px;
	color: #CCC;
}

/*map*/
.map-contain {
    position: relative;
    width: 1100px;
    height:600px;
}
.map-image {
    max-width: 100%;
    max-height: 100%;
}

.map-room {
    background: lightgreen;
    position: absolute;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.room-colour-1 {
    background: lightgreen;
}

.room-colour-2 {
    background: lightblue !important;
}

.room-colour-3 {
    background: lightseagreen !important;
}

.map-position {
    background: gray;
    position: absolute;
}

.numberPosition {
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    color: white;
    text-align: center;
    vertical-align: middle;

    font: 11px Arial, sans-serif;
}

.numberRoom {
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    color: black;
    text-align: center;
    vertical-align: middle;

    font: 18px Arial, sans-serif;
    font-weight: bold;
}

.numberGuest {
    background-color: #3e4f56;
    text-align: center;
    font: 14px Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    z-index: 8000 !important;
    color: white;
    width: auto !important;
    height: 30px !important;
    padding: 0 5px 0 5px;
    line-height: 30px !important;
}

.numberGuestSmall {
    background-color: #3e4f56;
    text-align: center;
    font: 14px Arial, sans-serif;
    font-weight: bold;
    position: absolute;
    z-index: 8000 !important;
    color: white;
    width: auto !important;
    height: 30px !important;
    padding: 0 5px 0 5px;
    line-height: 30px !important;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------Restaurant-----------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

#restaurant_1{
    top: 20px;
    left: 385px;
    width: 510px;
    height: 180px;
    z-index: 9000;
}

#table_1 {
    top: 26px;
    left: 460px;
    width: 40px;
    height: 30px;
    line-height: 30px;
}

#table_2 {
    top:61px;
    left:460px;
    width: 40px;
    height: 30px;
    line-height: 30px;
}

#table_3 {
    top:97px;
    left:460px;
    width: 40px;
    height: 30px;
    line-height: 30px;
}

#table_4 {
    top:150px;
    left:405px;
    width: 40px;
    height: 30px;
    line-height: 30px;
}

#table_5 {
    top:150px;
    left:460px;
    width: 40px;
    height: 30px;
    line-height: 30px;
}

#table_6 {
    top: 63px;
    left: 507px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#table_7 {
    top: 102px;
    left: 507px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#table_8 {
    top:160px;
    left:510px;
    width: 35px;
    height: 20px;
    line-height: 20px;
}

#table_9 {
    top: 63px;
    left: 550px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#table_10 {
    top: 102px;
    left: 550px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}


#table_11 {
    top:150px;
    left:553px;
    width: 40px;
    height: 30px;
    line-height: 30px;
}

#table_12 {
    top: 63px;
    left: 593px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#table_13 {
    top: 102px;
    left: 593px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}


#table_14 {
    top:150px;
    left:600px;
    width: 40px;
    height: 30px;
    line-height: 30px;
}

#table_15 {
    top: 63px;
    left: 635px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#table_16 {
    top: 102px;
    left: 635px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}


#table_17 {
    top: 160px;
    left: 653px;
    width: 35px;
    height: 20px;
    line-height: 20px;
}

#table_18 {
    top: 63px;
    left: 678px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#table_19 {
    top: 102px;
    left: 678px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#table_20 {
    top: 63px;
    left: 721px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#table_21 {
    top: 102px;
    left: 721px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#table_22 {
    top: 150px;
    left: 741px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#table_v_1 {
    top: 118px;
    left: 833px;
    width: 40px;
    height: 30px;
    line-height: 30px;
}

#table_v_2 {
    top: 75px;
    left: 833px;
    width: 40px;
    height: 30px;
    line-height: 30px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------Male Steam Jacuzzi----------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
#male_steam_jacuzzi_1{
    top: 30px;
    left: 40px;
    width: 240px;
    height: 480px;
    z-index: 9000;
}

#male_steam_jacuzzi_table_1 {
    top: 285px;
    left: 167px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#male_steam_jacuzzi_table_2 {
    top: 317px;
    left: 167px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#male_steam_jacuzzi_table_3 {
    top: 355px;
    left: 180px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#male_steam_jacuzzi_table_4 {
    top: 386px;
    left: 180px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#male_steam_jacuzzi_table_5 {
    top: 412px;
    left: 159px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------Entertainment Service----------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
#entertainment_service_1{
    top: 130px;
    left: 20px;
    width: 220px;
    height: 430px;
    z-index: 9000;
}


.entertainment_service_table{
    width: 33px;
    height: 15px;
    line-height: 15px;
}

#entertainment_service_table_1 {
    top: 140px;
    left: 200px;
}

#entertainment_service_table_2 {
    top: 140px;
    left: 150px;
}

#entertainment_service_table_3 {
    top: 140px;
    left: 95px;
}


#entertainment_service_table_4 {
    top: 140px;
    left: 45px;
}

#entertainment_service_table_5 {
    top: 160px;
    left: 200px;
}

#entertainment_service_table_6 {
    top: 160px;
    left: 150px;
}

#entertainment_service_table_7 {
    top: 160px;
    left: 95px;
}


#entertainment_service_table_8 {
    top: 160px;
    left: 45px;
}

#entertainment_service_table_9 {
    top: 185px;
    left: 200px;
}

#entertainment_service_table_10 {
    top: 185px;
    left: 150px;
}

#entertainment_service_table_11 {
    top: 185px;
    left: 95px;
}


#entertainment_service_table_12 {
    top: 185px;
    left: 45px;
}

#entertainment_service_table_13 {
    top: 207px;
    left: 200px;
}

#entertainment_service_table_14 {
    top: 207px;
    left: 150px;
}

#entertainment_service_table_15 {
    top: 207px;
    left: 95px;
}

#entertainment_service_table_16 {
    top: 207px;
    left: 45px;
}

#entertainment_service_table_17 {
    top: 229px;
    left: 200px;
}

#entertainment_service_table_18 {
    top: 229px;
    left: 150px;
}

#entertainment_service_table_19 {
    top: 229px;
    left: 95px;
}

#entertainment_service_table_20 {
    top: 229px;
    left: 45px;
}
/*---------------------------*/
#entertainment_service_table_21 {
    top: 249px;
    left: 200px;
}

#entertainment_service_table_22 {
    top: 249px;
    left: 150px;
}

#entertainment_service_table_23 {
    top: 249px;
    left: 95px;
}

#entertainment_service_table_24 {
    top: 249px;
    left: 45px;
}
/*---------------------------*/
#entertainment_service_table_25 {
    top: 272px;
    left: 200px;
}

#entertainment_service_table_26 {
    top: 272px;
    left: 150px;
}

#entertainment_service_table_27 {
    top: 272px;
    left: 95px;
}

#entertainment_service_table_28 {
    top: 272px;
    left: 45px;
}

/*---------------------------*/
#entertainment_service_table_29 {
    top: 295px;
    left: 45px;
}
/*---------------------------*/
#entertainment_service_table_30 {
    top: 324px;
    left: 200px;
}

#entertainment_service_table_31 {
    top: 324px;
    left: 150px;
}

#entertainment_service_table_32 {
    top: 319px;
    left: 95px;
}

#entertainment_service_table_33 {
    top: 317px;
    left: 45px;
}
/*---------------------------*/
#entertainment_service_table_34 {
    top: 344px;
    left: 200px;
}

#entertainment_service_table_35 {
    top: 344px;
    left: 150px;
}

#entertainment_service_table_36 {
    top: 342px;
    left: 95px;
}

#entertainment_service_table_37 {
    top: 339px;
    left: 45px;
}
/*---------------------------*/
#entertainment_service_table_38 {
    top: 369px;
    left: 200px;
}

#entertainment_service_table_39 {
    top: 369px;
    left: 150px;
}

#entertainment_service_table_40 {
    top: 369px;
    left: 95px;
}

#entertainment_service_table_41 {
    top: 361px;
    left: 45px;
}
/*---------------------------*/
#entertainment_service_table_42 {
    top: 394px;
    left: 200px;
}

#entertainment_service_table_43 {
    top: 394px;
    left: 150px;
}

#entertainment_service_table_44 {
    top: 391px;
    left: 95px;
}

#entertainment_service_table_45 {
    top: 387px;
    left: 45px;
}
/*---------------------------*/
#entertainment_service_table_46 {
    top: 414px;
    left: 200px;
}

#entertainment_service_table_47 {
    top: 414px;
    left: 150px;
}

#entertainment_service_table_48 {
    top: 414px;
    left: 95px;
}

#entertainment_service_table_49 {
    top: 409px;
    left: 45px;
}
/*---------------------------*/
#entertainment_service_table_50 {
    top: 435px;
    left: 200px;
}
#entertainment_service_table_51 {
    top: 429px;
    left: 45px;
}
/*---------------------------*/
#entertainment_service_table_52 {
    top: 474px;
    left: 95px;
}
#entertainment_service_table_53 {
    top: 474px;
    left: 45px;
}
/*---------------------------*/
#entertainment_service_table_54 {
    top: 497px;
    left: 95px;
}
#entertainment_service_table_55 {
    top: 497px;
    left: 45px;
}
/*---------------------------*/
#entertainment_service_table_56 {
    top: 519px;
    left: 95px;
}
#entertainment_service_table_57 {
    top: 519px;
    left: 45px;
}
/*---------------------------*/
#entertainment_service_table_58 {
    top: 539px;
    left: 95px;
}
#entertainment_service_table_59 {
    top: 539px;
    left: 45px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------Female Steam Jacuzzi----------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
#female_steam_jacuzzi_1{
    top: 25px;
    left: 315px;
    width: 375px;
    height: 165px;
    z-index: 9000;
}

.female_steam_jacuzzi_table{
    width: 30px;
    height: 30px;
    line-height: 30px;
}

#female_steam_jacuzzi_table_1 {
    top: 110px;
    left: 510px;
}

#female_steam_jacuzzi_table_2 {
    top: 110px;
    left: 560px;
}

#female_steam_jacuzzi_table_3 {
    top: 110px;
    left: 610px;
}

.female_steam_jacuzzi_bed {
    width: 15px;
    height: 33px;
    line-height: 33px;
}

#female_steam_jacuzzi_table_4 {
    top: 153px;
    left: 507px;
}

#female_steam_jacuzzi_table_5 {
    top: 153px;
    left: 534px;
}
#female_steam_jacuzzi_table_6 {
    top: 153px;
    left: 554px;
}
#female_steam_jacuzzi_table_7 {
    top: 153px;
    left: 576px;
}
#female_steam_jacuzzi_table_8 {
    top: 153px;
    left: 602px;
}
#female_steam_jacuzzi_table_9 {
    top: 153px;
    left: 623px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------- Female Entertainment Service ------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
#female_entertainment_service_1{
    top: 25px;
    left: 690px;
    width: 125px;
    height: 140px;
    z-index: 9000;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------- Service ------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
#service_area_1{
    top: 35px;
    left: 45px;
    width: 85px;
    height: 80px;
    z-index: 9000;
    line-height: 80px;
}

#service_area_2{
    top: 115px;
    left: 160px;
    width: 105px;
    height: 70px;
    z-index: 9000;
    line-height: 70px;
}


#service_area_3{
    top: 115px;
    left: 28px;
    width: 105px;
    height: 70px;
    z-index: 9000;
    line-height: 80px;
}
#service_area_4{
    top: 190px;
    left: 160px;
    width: 105px;
    height: 70px;
    z-index: 9000;
    line-height: 70px;
}


#service_area_5{
    top: 190px;
    left: 28px;
    width: 105px;
    height: 70px;
    z-index: 9000;
    line-height: 70px;
}

#service_area_6{
    top: 265px;
    left: 160px;
    width: 105px;
    height: 70px;
    z-index: 9000;
    line-height: 70px;
}


#service_area_7{
    top: 265px;
    left: 28px;
    width: 105px;
    height: 70px;
    z-index: 9000;
    line-height: 70px;
}

#service_area_8{
     top: 340px;
     left: 160px;
     width: 105px;
     height: 70px;
     z-index: 9000;
     line-height: 70px;
 }


#service_area_9{
    top: 340px;
    left: 28px;
    width: 105px;
    height: 70px;
    z-index: 9000;
    line-height: 70px;
}

#service_area_10{
    top: 415px;
    left: 160px;
    width: 105px;
    height: 70px;
    z-index: 9000;
    line-height: 70px;
}


#service_area_11{
    top: 415px;
    left: 28px;
    width: 105px;
    height: 70px;
    z-index: 9000;
    line-height: 70px;
}

#service_area_12{
    top: 490px;
    left: 28px;
    width: 105px;
    height: 70px;
    z-index: 9000;
    line-height: 70px;
}

#service_area_13{
    top: 165px;
    left: 270px;
    width: 65px;
    height: 100px;
    z-index: 9000;
    line-height: 100px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------- TRI LIEU-----------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
#cure_area_1{
    top: 45px;
    left: 450px;
    width: 75px;
    height: 120px;
    z-index: 9000;
    line-height: 120px;
}
#cure_area_2{
    top: 165px;
    left: 270px;
    width: 65px;
    height: 100px;
    z-index: 9000;
    line-height: 100px;
}

/*-------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------- VIP ---------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
#vip_area_1{
    top: 45px;
    left: 450px;
    width: 75px;
    height: 120px;
    z-index: 9000;
    line-height: 120px;
}

#vip_area_2{
    top: 45px;
    left: 522px;
    width: 75px;
    height: 120px;
    z-index: 9000;
    line-height: 120px;
}

#vip_area_3{
    top: 45px;
    left: 595px;
    width: 75px;
    height: 120px;
    z-index: 9000;
    line-height: 120px;
}

#vip_area_4{
    top: 45px;
    left: 670px;
    width: 75px;
    height: 120px;
    z-index: 9000;
    line-height: 120px;
}

#vip_area_5{
    top: 45px;
    left: 744px;
    width: 75px;
    height: 120px;
    z-index: 9000;
    line-height: 120px;
}
/*page request*/
.request-card .card-media {
    background-color: transparent;
}
.request-card .card-media .avatar{
    width: 120px;
    height: 120px;
    border: 1px solid #dddddd;
    border-radius: 50%;
}


/*page search*/

.page-search .fixedRows { 
  height: 500px;
  overflow: auto;
}

.page-search .contact-item {
  box-sizing: border-box; }
.page-search .contact-item.selected {
	opacity: 0.5; }
.page-search .contact-item.selected h3 {
	opacity: 0.5; }
.page-search .contact-item .md-list-item-text {
  padding: 14px 0; }
.page-search .contact-item .md-list-item-text h3 {
	margin: 0 !important;
	padding: 0;
	line-height: 1.2em !important; }
.page-search .contact-item .md-list-item-text h3, .page-search .contact-item .md-list-item-text p {
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  overflow: hidden; }
@media (min-width: 900px) {
	.page-search .contact-item {
	  float: left;
	  width: 33%; } }

/*data table*/
md-data-table-toolbar {
  background: ghostwhite !important;
}

.gridListService md-icon {
  width: 50%;
  height: 30%; }
.gridListService md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
.gridListService .s64 {
  font-size: 64px; }
.gridListService .s32 {
  font-size: 48px; }
.gridListService md-icon.fa {
  display: block;
  padding-left: 0; }
.gridListService md-icon.s32 span {
  padding-left: 8px; }
.gridListService md-grid-list {
  margin: 8px; }
.gridListService .gray {
  background: #f5f5f5; }
.gridListService .green {
  background: #b9f6ca; }
.gridListService .yellow {
  background: #ffff8d; }
.gridListdemoDynamicTiles .blue {
  background: #84ffff; }
.gridListService .darkBlue {
  background: #80d8ff; }
.gridListService .deepBlue {
  background: #448aff; }
.gridListService .purple {
  background: #b388ff; }
.gridListService .lightPurple {
  background: #8c9eff; }
.gridListService .red {
  background: #ff8a80; }
.gridListService .pink {
  background: #ff80ab; }
.gridListService md-grid-tile {
  transition: all 300ms ease-out 50ms; }
.gridListService md-grid-tile md-icon {
  padding-bottom: 32px; }
.gridListService md-grid-tile md-grid-tile-footer {
  background: rgb(144, 202, 249);
  height: 36px; }
.gridListService md-grid-tile-footer figcaption {
  width: 100%; }
.gridListService md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; } 
.gridListService md-grid-tile md-grid-tile-header {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; }
.gridListService md-grid-tile-header figcaption {
  width: 100%; }
.gridListService md-grid-tile-header figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; } 

