<div ng-init="initializeController()">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{ProfileQuestionnaireLine.Description}} - Profile Questionnaire Line Detail</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form id="ProfileQuestionnaireLineDetailMaintenanceForm" name="ProfileQuestionnaireLineDetailMaintenanceForm"
            role="form" ng-validate="validationOptions">
            <div class="col-xs-12 col-sm-4">

                <div class="form-group has-feedback">
                    <label class="control-label" for="Description">Description</label>
                    <input type="text" class="form-control" name="Description" id="Description" ng-model="ProfileQuestionnaireLine.Description" required/>
                </div>

                <div class="form-group has-feedback">
                    <label class="control-label" for="MultipleAnswers">MultipleAnswers</label>
                    <select class="form-control" id="MultipleAnswers" name="MultipleAnswers" ng-model="ProfileQuestionnaireLine.MultipleAnswers" ng-options="s.Code as s.Name for s in Constants.BooleanTypes"
                    />
                </div>
                <div class="form-group has-feedback">
                    <label class="control-label" for="AutoContactClassification">AutoContactClassification</label>
                    <select class="form-control" id="AutoContactClassification" name="AutoContactClassification" ng-model="ProfileQuestionnaireLine.AutoContactClassification" ng-options="s.Code as s.Name for s in Constants.BooleanTypes" ng-change="autoContactClassificationChange" />

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>