<div class="container-fluid body-content" ng-init="initializeController()">
    <div class="page-header">
        <h2>Master</h2>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-2">
            <ul class="nav nav-pills nav-stacked">
                <li title="Contact Manager" ng-class="{'active' : activeTab == 1}"><a href="" data-toggle="tab" ng-click="setActiveTab(1)"><b>1.</b> <span class="hidden-xs">Contact Manager </span></a></li>
                <li title="System" ng-class="{'active' : activeTab == 2}"><a href="" data-toggle="tab" ng-click="setActiveTab(2)"><b>2.</b> <span class="hidden-xs">System</span></a></li>
            </ul>
        </div>

        <div class="col-sm-9 col-xs-10"> <!-- left panes -->

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane" id="ContactManager" ng-class="{'tab-pane active': activeTab === 1, 'tab-pane' : activeTab !== 1}">
                    <div class="panel panel-default">
                        <div class="panel-heading">Contact Manager</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a ui-sref="setup({setupModule: 'contactManager'})">Setup</a></li>
                                        <li><a ui-sref="businessRelationType">Business Relation Type</a></li>
                                        <li><a ui-sref="businessRelationSector">Business Relation Sector</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a ui-sref="profileQuestionnaireSetup">Profile Questionnaire Setup</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="System" ng-class="{'tab-pane active': activeTab === 2, 'tab-pane' : activeTab !== 2}">
                    <div class="panel panel-default">
                        <div class="panel-heading">System</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="">Currency</a></li>
                                        <li><a href="">Currency Convert Rates</a></li>
                                        <li><a href="">Periods</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="">Number Sequences</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="">Client Information</a></li>
                                        <li><a href="">Organizations</a></li>
                                        <li><a href="">Users</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- left panes -->
    </div>
</div>